@inherits LayoutComponentBase

<PageTitle>Who? What? Where?</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>Who? What? Where?</h1>
        </div>

        <article class="content px-4">
            <center>@Body</center>
        </article>
    </main>
</div>
